.container-fluid {
  padding: 0 10%;
}

.form-control {
  padding: 24px 12px!important;
  font-size:1.3em;
}

.font-1x{font-size: 1.2em;}
.font-2x{font-size: 2em;}
.font-3x{font-size: 3em;}


.page-header {
  text-align: center;
}

#itemList {
  min-width:200px;
  width:500px;
}

.right-side-list {
  min-height: 200px;
}


li.glyphicon-heart {
    float: left;
    clear: both;
    line-height: 2em;
    font-size: 1.2em;
}

li.deleteButton.glyphicon.glyphicon-heart {
    width: 100%;
    text-align: left;
    border-left: 2px solid #ccc;
    padding-left: 32px;
}

span.glyphicon-remove-sign{
    float: right;
}

@media screen and (max-width:1000px) {
  .right-side-list {
    text-align:center;
    border:none;
    padding-top:5%;
  }
  
  li.glyphicon-heart {
     text-align:center;
  }
    

  }
}
